In [2]:
import sys
import numpy as np
import pandas as pd

In [4]:
# 1 Найти евклидово расстояние между двумя объектами Series
# расстояние между двумя точками евклидова пространства, вычисляемое по теореме Пифагора.
n = 3 
s1 = pd.Series(np.random.randint(low=1, high=10, size=[n]))
s2 = pd.Series(np.random.randint(low=1, high=10, size=[n]))
 
ans = np.linalg.norm(s1-s2)
ans2 = sum((s1-s2)**2)**0.5
print(ans2)
print(" ")
print(ans)

9.1104335791443

9.1104335791443

In [8]:
# 2 Найти индексы локальных максимумов в объекте Series
 
s = pd.Series([1, 5, 7, 11, 8, 4, 12, 5, 8, 16, 8])
arr = np.diff(np.sign(np.diff(s)))
print(arr)
print(" ")
ans = np.where(arr == -2)[0] + 1
print(ans) # numbers 11, 12, 16

[ 0  0 -2  0  2 -2  2 -2  2]

[3 6 8]

In [9]:
# 3 Заменить пробелы наименее часто встречающимся символом
 
str_test = 'bnb ber kekb dare'
 
s = pd.Series(list(str_test))
print(s)
print(" ")
freq = s.value_counts()
least_freq = freq.dropna().index[-1]
''.join(s.replace(' ', least_freq))

0     b
1     n
2     b
3
4     b
5     e
6     r
7
8     k
9     e
10    k
11    b
12
13    d
14    a
15    r
16    e
dtype: object

'bnbaberakekbadare'

In [15]:
# 4 Создать объект Series, который содержит в индексах даты выходных дней субботы,
# а в значениях случайные числа от 1 до 10
 
s = pd.Series(np.random.randint(low=1,high=10,size=[10]), pd.date_range('2019-01-01', periods=10, freq='W-SAT'))
print(s)

2019-01-05    6
2019-01-12    8
2019-01-19    9
2019-01-26    8
2019-02-02    4
2019-02-09    5
2019-02-16    6
2019-02-23    6
2019-03-02    4
2019-03-09    5
Freq: W-SAT, dtype: int32

In [16]:
# 5 Заполнить пропущенные даты, значением выше (заполненной даты)
 
s = pd.Series([2, 5, 8, np.nan], index=pd.to_datetime(['2018-01-01', '2018-01-03', '2018-01-06', '2018-01-08']))
# заполнить предыдущими значениями
ans = s.resample('D').ffill()
# заполнить последующими значениями
ans2 = s.resample('D').bfill()
print(ans)

2018-01-01    2.0
2018-01-02    2.0
2018-01-03    5.0
2018-01-04    5.0
2018-01-05    5.0
2018-01-06    8.0
2018-01-07    8.0
2018-01-08    NaN
Freq: D, dtype: float64

In [17]:
# 6 Вычислить автокорреляцию объекта Series
 
n = 20
 
s = pd.Series(np.arange(n))
s = s + np.random.normal(1, 3, n)
 
autocorr = [s.autocorr(lag=i).round(2) for i in range(n)]
 
print(autocorr)

[1.0, 0.81, 0.83, 0.79, 0.73, 0.63, 0.72, 0.62, 0.68, 0.64, 0.77, 0.69, 0.74, 0.72, 0.39, 0.45, -0.61, -0.11, 1.0, nan]

c:\program files\python37\lib\site-packages\numpy\lib\function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
c:\program files\python37\lib\site-packages\numpy\lib\function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [2]:
import sys
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [5]:
# 7 Прочитать файл CSV и перевести его в DataFrame
 
df = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv')
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [6]:
# 8 Прочитать файл CSV (определенные столбцы и определенное кол-во строк) и перевести его в DataFrame
 
df = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', nrows=10, usecols=['Name', 'Sex', 'Survived'])
print(df)

   Survived                                               Name     Sex
0         0                            Braund, Mr. Owen Harris    male
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2         1                             Heikkinen, Miss. Laina  female
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4         0                           Allen, Mr. William Henry    male
5         0                                   Moran, Mr. James    male
6         0                            McCarthy, Mr. Timothy J    male
7         0                     Palsson, Master. Gosta Leonard    male
8         1  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9         1                Nasser, Mrs. Nicholas (Adele Achem)  female

In [7]:
# 9 Прочитать файл CSV и перевести каждую 100-ую строку в DataFrame
 
df = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', chunksize=100)
df_each = pd.DataFrame()
for chunk in df:
    df_each = df_each.append(chunk.iloc[0,:])
print(df_each)

      Age    Cabin Embarked      Fare  \
0    22.0      NaN        S    7.2500
100  28.0      NaN        S    7.8958
200  28.0      NaN        S    9.5000
300   NaN      NaN        Q    7.7500
400  39.0      NaN        S    7.9250
500  17.0      NaN        S    8.6625
600  24.0      NaN        S   27.0000
700  18.0  C62 C64        C  227.5250
800  34.0      NaN        S   13.0000

                                                  Name  Parch  PassengerId  \
0                              Braund, Mr. Owen Harris    0.0          1.0
100                            Petranec, Miss. Matilda    0.0        101.0
200                     Vande Walle, Mr. Nestor Cyriel    0.0        201.0
300           Kelly, Miss. Anna Katherine "Annie Kate"    0.0        301.0
400                                 Niskanen, Mr. Juha    0.0        401.0
500                                   Calic, Mr. Petar    0.0        501.0
600  Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...    1.0        601.0
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)    0.0        701.0
800                               Ponesell, Mr. Martin    0.0        801.0

     Pclass     Sex  SibSp  Survived             Ticket
0       3.0    male    1.0       0.0          A/5 21171
100     3.0  female    0.0       0.0             349245
200     3.0    male    0.0       0.0             345770
300     3.0  female    0.0       1.0               9234
400     3.0    male    0.0       1.0  STON/O 2. 3101289
500     3.0    male    0.0       0.0             315086
600     2.0  female    2.0       1.0             243847
700     1.0  female    1.0       1.0           PC 17757
800     2.0    male    0.0       0.0             250647

In [8]:
# 10 Преобразовать индексы объекта Series в столбец DataFrame
 
test_list = 'abcedf'
test_arr = np.arange(len(test_list))
test_dict = dict(zip(test_list, test_arr))
s = pd.Series(test_dict)
print(s)
print(" ")
# сбрасываем индексы
df = s.to_frame().reset_index()
print(df)
print(" ")
# присвоение имён столбцам
df.columns=['letter', 'number']
print(df)

a    0
b    1
c    2
e    3
d    4
f    5
dtype: int64

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4
5     f  5

  letter  number
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4
5      f       5

In [9]:
# 11 Посмотреть информацию объекта DataFrame
 
df = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', nrows=10)
 
# Формат каждого столбца
print('\n', 'Формат столбцов:')
print(df.dtypes)
 
# Размерность DataFrame
print('\n', 'Размерность:')
print(df.shape)
 
# Общая статистика
print('\n', 'Общая статистика')
print(df.describe())

 Формат столбцов:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

 Размерность:
(10, 12)

 Общая статистика
       PassengerId   Survived     Pclass        Age      SibSp      Parch  \
count     10.00000  10.000000  10.000000   9.000000  10.000000  10.000000
mean       5.50000   0.500000   2.300000  28.111111   0.700000   0.300000
std        3.02765   0.527046   0.948683  14.945271   0.948683   0.674949
min        1.00000   0.000000   1.000000   2.000000   0.000000   0.000000
25%        3.25000   0.000000   1.250000  22.000000   0.000000   0.000000
50%        5.50000   0.500000   3.000000  27.000000   0.500000   0.000000
75%        7.75000   1.000000   3.000000  35.000000   1.000000   0.000000
max       10.00000   1.000000   3.000000  54.000000   3.000000   2.000000

            Fare
count  10.000000
mean   27.020820
std    23.601938
min     7.250000
25%     8.152075
50%    16.104150
75%    46.414575
max    71.283300